
<!-- Recherche -->
<div class="rech-liste width25" >
	<!-- <div class="recherche"> 
		<div class="row ">
		  <div class="col-lg-6 width100">
			<div class="input-group">
			  <input type="text" class="form-control" placeholder="Rechercher...">
			  <span class="input-group-btn">
				<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
			  </span>
			</div>
		  </div>
		</div>
	 </div -->
	<!-- Liste de parcours -->
	<div class="parcours-liste">
		<div *ngFor="let parcours of parcoursList; let i = index;" (click)="onSelect(parcours)">
			<app-parcours-detail [iClass]="i" [parcours]="parcours"> </app-parcours-detail>
		</div>
	</div>
</div>