<div [ngClass]="setStyleParcours(iClass)">
	<div class="row parcours">
			<!-- Image --> 
			<div class="col-md-3">
					<img src="/assets/28072804076_cede5f18a5_b.jpg" alt="..." style="width:80px; height:80px;" >
			</div>
			
			<!-- Information -->
			<div class="col-md-8">
					<!-- Titre -->
					<div class="row parcours-title">
							<div class="col-xs-12 col-md-12">{{parcours.nom}}</div>
					</div>

					<!-- Description 
					<div class="row parcours-description">
						<div class="col-xs-12 col-md-12">{{parcours.description }}</div>
					</div> -->
					
					<!-- Detail 1 -->
					<div class="row parcours-detail item1">
						<div class="col-xs-6 col-md-6"><span class="glyphicon glyphicon-time"> Facile</span></div>
						<div class="col-xs-6 col-md-6"><span class="glyphicon glyphicon-road"> {{parcours.km | number : '1.2-2' }}km</span></div>
					</div>
					
					<!-- Detail 2 -->
					<div class="row parcours-detail ">
						<div class="col-xs-6 col-md-6"><span class="glyphicon glyphicon-menu-up"><span class="grey"> {{parcours.denivelePos | number : '1.2-2' }}</span></span></div>
						<div class="col-xs-6 col-md-6"><span class="glyphicon glyphicon-export"><span class="grey"> {{parcours.elevationMax | number : '1.2-2' }}</span></span></div>
					</div>

					<!-- Detail 3 -->
					<div class="row parcours-detail ">
						<div class="col-xs-6 col-md-6"><span class="glyphicon glyphicon-menu-down"><span class="grey"> {{parcours.deniveleNeg | number : '1.2-2' }}</span></span></div>
						<div class="col-xs-6 col-md-6"><span class="glyphicon glyphicon-import"><span class="grey"> {{parcours.elevationMin | number : '1.2-2' }}</span></span></div>
					</div>
			</div>
			
			
			<!-- Social -->
			<div class="col-md-1">
					<div class="row "><span  style="font-size:20px;" class="glyphicon"> </span></div>
					<div class="row ">
							<div class="col-xs-1 col-md-1"><span class="glyphicon glyphicon-share"> </span></div>   
					</div>
					<div class="row ">
							<div class="col-xs-1 col-md-1"><span class="glyphicon glyphicon-comment"> </span></div>
					</div>
					<div class="row ">
							<div class="col-xs-1 col-md-1"><span class="glyphicon glyphicon-star"> </span></div>
					</div>
			</div>
	</div>
	
	<!-- detail 4 
	<div class="row parcours-detail">
		<div class="col-xs-6 col-md-6"><span class="label label-success">Trail</span></div>
		<div class="col-xs-6 col-md-6 petit"><small>{{parcours.dateMaj | date: 'dd/MM/yyyy'}}  par <a href="#">user </a> </small></div>
	</div>-->
</div>