
/* Chaque éléments du parcours */
.row{
	padding-right: 5px !important;
    padding-left: 5px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;    
	margin-right: 1px !important;
}

/* Detail du parcours */
.parcours-detail{
    font-size:12px;
}
*
/* Titre du parcours */
.parcours-title{
    font-size: 12px;
	text-transform:capitalize;
    color: #54677d;
    font-weight: bold;    
	margin-top: 2px;
	margin-bottom: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Titre du parcours : hover*/
.parcours-title:hover{
    color: #d78a2e !important;
}

/* Description du parcours */
.parcours-description{
	color: #9aa8b9;
    white-space: nowrap;
    text-overflow: initial;
    overflow: hidden;
    font-size: 12px;
	margin-bottom: 10px;
}

/* Date du parcours */
.parcours-dateuser{
	text-align:right;
}

/* panel parcours */
.parcours:hover{
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.35);
    box-shadow: 0 2px 3px rgba(0,0,0,0.35);
	background:#b4b4b4
}

/* Colonnes : Enleve padding */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 1px !important;
    padding-left: 1px !important; 
}

.panel{
	border-radius: 0px !important;
	margin-bottom: 0px !important; 
	margin-top: 1px !important;
	--padding-top:3px !important;
	--padding-bottom:3px !important;
}

.panel-body {
    padding: 0px !important;
}

.no-marg-pad-left{
	padding-left: 0px !important;
    margin-left: 0px !important;
}

.recherche{
    background: #f1f2f7;
	padding-top:5px;
	padding-bottom:5px;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.35);
    box-shadow: 0 2px 3px rgba(0,0,0,0.35);
}

.item1{
	font-size: 13px;
}

/** background gris du panel principal du parcours */
.panel-grey{
	background:#f4f4f4;
}

/* Image du parcours */
.thumbnail{
    display: block;
    padding: 4px;
    margin-bottom: 0px  !important; 
    line-height: 1.42857143;
    background-color: #fff;
    border: 0px solid #ddd !important;
    --border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

/* Glyphicon comment*/
.glyphicon-comment:hover{
    color: white;
    text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -2px black;
}
.glyphicon-comment{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Glyphicon share*/
.glyphicon-share:hover{
    color: black;
    text-shadow: 0px 0 black, 0 0px black, 0px 0 black, 0 -1px black;
}
.glyphicon-share{
    color: black;
    --text-shadow: -1px 0 #f09c00, 0 1px #f09c00, 1px 0 #f09c00, 0 -1px #f09c00;
}

/* Glyphicon star*/
.glyphicon-star{
    color: white;
    text-shadow: -1px 0 #f09c00, 0 1px #f09c00, 1px 0 #f09c00, 0 -1px #f09c00;
}
.glyphicon-star:hover{
    color: #ecaf45;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
