<nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
    <div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span class="titre-grand">Sight</span><span class="titre-petit">Map</span></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse" >
        <ul class="nav navbar-nav navbar-left">
            <li><a href="/map"><span class="glyphicon glyphicon-map-marker"></span> Carte </a></li>
            <li><a href="/map"><span class="glyphicon glyphicon-align-justify"></span> Liste </a></li>
			<li><form class="navbar-form navbar-right">
				<input type="text" class="form-control" placeholder="Rechercher...">
			</form></li>
            <li><a href="/map"><span class="glyphicon glyphicon-plus"></span> Ajout </a></li>
        </ul>
		<ul class="nav navbar-nav navbar-right margin-right">
            <li><a href="/ng-chart"><span class="glyphicon glyphicon-stats"></span> Tableau de bord </a></li>
            <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Paramètres </a></li>
            <li><a href="#" ><span class="glyphicon glyphicon-user margin-right"></span> Se connecter </a></li>
        </ul>
    </div>
</nav>
