
#add-marker {
    margin: 20px 0 0 20px;
}

#remove-marker {
    margin:20px 0 0 60px;
}

#toggle-layer {
    margin: 5px 0 0 450px;
}

#panel-toolbar {
    width: 500px;
    bottom: 15px;
	right:20px;
    margin: 5px;
    height: 200px;
}

.elevation-profile {
  background-color: rgba(0, 0, 0, 0.85);
}