
#add-marker {
    margin: 20px 0 0 370px;
}

#remove-marker {
    margin: 20px 0 0 410px;
}

#toggle-layer {
    margin: 20px 0 0 450px;
}

#panel-toolbar {
    margin: 20px 0 0 45px;
	width:200px;
}