.chart {
    display: block;
	position:fixed;
}
	
.elevation-profile {
  /* background-color: rgba(0, 0, 0, 0.5); */
    position: fixed;
	display: block;
    bottom: 15px;
	right:20px;
	width:350px;
    margin-bottom: 15px;
	background: rgba(255, 255, 255, 0.76);
    /* padding: 5px; */
    border-radius: 2px;
}

/*36px "Bariol-Bold", Arial, sans-serif*/